.background {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
}
.chat-container {
  background-image: linear-gradient(140deg, #ffffff 20%, #e9e9e9);
  position: fixed;
  top: 0;
  left: 15vw;
  width: 70%;
  height: 100%;
}
.chat-form {
  background: #d46363;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chat-form__input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
.chat-form__button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
#messages::-webkit-scrollbar {
  visibility: hidden;
}
.green {
  background-color: #8beebd;
  padding: 10px;
  min-width: 30%;
  max-width: 60%;
  margin: 1vh 1vh 1vh 0;
  border-radius: 0.5rem;
  align-self: flex-end;
}
.yellow {
  background-color: #eaf8a9;
  padding: 10px;
  width: 30%;
  margin: 1vh 1vh 1vh 0;
  border-radius: 0.5rem;
}
