

.chat-background {
  background: black;
  width: 100%;
  height: 100%;
}
.chat-container {
  background-image: linear-gradient(140deg, #ffffff 20%, #e9e9e9);
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#chat-messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 95%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
#chat-messages::-webkit-scrollbar {
  display: none;
}
.green {
  background-color: #8beebd;
  padding: 10px;
  min-width: 30%;
  max-width: 60%;
  margin: 1vh 1vh 1vh 0;
  border-radius: 0.5rem;
  align-self: flex-end;
  position: relative;
}
.green::after{
  content: '';
	position: absolute;
	right: 0;
	border: 10px solid transparent;
	border-left-color: #8beebd;
	border-right: 0;
	border-bottom: 0;
	margin-top: -8.5px;
	margin-right: -6px;
}
.yellow {
  background-color: #e9e55c;
  padding: 10px;
  width: 30%;
  margin: 1vh 0 1vh 1vh;
  border-radius: 0.5rem;
  position: relative;
}
.yellow:after {
  content: '';
  position: absolute;
  left: 0;
  border: 10px solid transparent;
  border-right-color: #e9e55c;
  border-left: 0;
  border-bottom: 0;
  margin-top: -8.5px;
  margin-left: -6px;
}
.chat-form {
  background: #d46363;
  padding: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chat-form__input {
  border: 0;
  padding: 10px;
  width: 90%;
}
.chat-form__button {
  background: #82e0ff;
  border: 1px #3ecaf9 solid;
  padding: 10px;
}
.chat-form__button:disabled {
  opacity: 0.8;
}
