.btns {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-linear-gradient(310deg, #000000 20%, #241d17);
    background-image: -o-linear-gradient(310deg, #000000 20%, #241d17);
    background-image: linear-gradient(140deg, #000000 20%, #241d17);
}
.signup-btn {
    display: inline-block;
    width: 40vw;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: peachpuff;
    padding: 1rem 0;
    border: 1px solid salmon;
    border-radius: 0.5rem;
}
.signup-btn:hover {
    opacity: 0.8;
    background-color: salmon;
    border-color: peachpuff;
}

.login-btn {
    display: inline-block;
    width: 40vw;
    text-align: center;
    text-decoration: none;
    background-color: #8be7b1;
    color: black;
    padding: 1rem 0;
    border: 1px solid #78a5f8;
    border-radius: 0.5rem;
}
.login-btn:hover {
    opacity: 0.8;
    background-color: #78a5f8;
    border-color: #8be7b1;
}
.loading {
    color: white;
}
@media (min-width: 40rem) {
    .signup-btn {
        width: 20vw;
    }
    .login-btn {
        width: 20vw;
    }
}